---
layout: default
---

	<div class="row">
		<div class="eight columns">
		{% for post in paginator.posts %}
		<h3><a href="{{post.url}}">{{post.title}}</a></h3>
			<div class="row">
				<div class="twelve columns">
					{{post.content}}
				</div>
			</div>
		{% endfor %}

		<div class="pagination">
			<p>
				{% if paginator.previous_page %}
					{% if paginator.previous_page == 1 %}
						<a href="/" class="previous">Previous</a>
					{% else %}
						<a href="/page{{paginator.previous_page}}" class="previous">Previous</a>
					{% endif %}
				{% else %}
					<span class="previous">Previous</span>
				{% endif %}
					<span class="page_number">Page: {{paginator.page}} of {{paginator.total_pages}}</span>
				{% if paginator.next_page %}
					<a href="/page{{paginator.next_page}}" class="next">Next</a>
				{% else %}
					<span class="next">Next</span>
				{% endif %}
			</p>
		</div>

		</div>
		<div class="four columns">
			<h4>Recent Writings</h4>
			<p>From the archives of this journal:</p>
			<ul class="disc">
				{% for post in site.posts offset: 3 limit: 10 %}
				<li><a href="{{post.url}}">{{post.title}}</a></li>
				{% endfor %}
			</ul>

	      <h4>About Us</h4>
	      <p>

		The Graphic Rustication Company was originally starting in Irvine, CA by my father in the 1970's. Quickly GRC became known for unmatched quality and creativity that pushed the envelope of what many had previously conceived as multimedia commercial design. I revived the Graphic Rustication Co. to create a beautiful, and highly functional graphics, signs, and web interfaces. A blending of old lost techniques with new technology and tools.  

		</p>	

	    </div>
  </div>	