---
layout: default
---

	<div class="slider-wrapper theme-default">
            <div id="slider" class="nivoSlider">
                <img src="images/grc-mountains.jpg" data-thumb="/images/grc-mountains.jpg" alt="The Graphic Rustication Company" data-transition="fade"/>
                <img src="images/signs.jpg" data-thumb="/images/signs.jpg" alt="" data-transition="slideInLeft" />
                <img src="images/print.jpg" data-thumb="/images/print.jpg" alt="" data-transition="slideInLeft" />
              	<img src="images/web.jpg" data-thumb="/images/web-design.jpg" alt="" data-transition="slideInLeft" />
            </div>
    </div>

	<div class="columns four-col points">

			<div><h4>Method</h4><a href="/about.html"><img src="/images/svg/beaker.svg"></a><h3><a href="/about.html">The Secret Formula</a></h3></div>
			<div><h4>Work</h4><a href="/portfolio"><img src="/images/svg/work.svg"></a><h3><a href="/portfolio">View our Projects</a></h3></div>
			<div><h4>Network</h4><a href="/about.html"><img src="/images/svg/team.svg"></a><h3><a href="/about.html">Only the Best</a></h3></div>
			<div><h4>Learn</h4><a href="/tutorials"><img src="/images/svg/learn.svg"></a><h3><a href="tutorial">Tutorials & Tricks</a></h3></div>

	</div>	

	<div class="columns three-col posts">
		{% for post in site.categories['portfolio'] limit:3 %}
			{% include post-loop.html %}
		{% endfor %}
		{% for post in site.categories['blog'] limit:3 %}
			{% include post-loop.html %}
		{% endfor %}
		{% for post in site.categories['tutorials'] limit:3 %}
			{% include post-loop.html %}
		{% endfor %}
	</div>
	<div class="columns one-col text">	
	      <h3>About Us</h3>
	      <p>

		The Graphic Rustication Company was originally starting in Irvine, CA by my father in the 1970's. Quickly GRC became known for unmatched quality and creativity that pushed the envelope of what many had previously conceived as multimedia commercial design. I revived the Graphic Rustication Co. to create a beautiful, and highly functional graphics, signs, and web interfaces. A blending of old lost techniques with new technology and tools.  

		</p>	
	</div>

	