	<div class="mobile-nav">Navigation</div>
		<ul class="primary">
			<li class="home"><a href="/">Home</a></li>
			<li class="about"><a href="/about.html">About</a></li>
			<li><a class="has-drop">Portfolio<span></span></a>
				<ul class="drop">
					<li><a href="/portfolio">Web Design</a></li>
					<li><a href="/portfolio">Print Design</a></li>
					<li><a href="/portfolio">Photography</a></li>
					<li><a href="/portfolio">Logo and Identity</a></li>
				</ul>
			</li>
			<li><a class="has-drop">Writing<span></span></a>
				<ul class="drop">
					<li><a href="/blog">Industry</a></li>
					<li><a href="/blog">Tutorials</a></li>
				</ul>
			</li>
			<li><a href="/contact.html">Contact</a></li>
		</ul>
	<div class="clear"></div>