	<div class='menu-button'>Menu</div>
	<nav>
		<ul id="nav" role="navigation">
		<li class="top-level first"><a href="/">Home</a></li>

	<li class="top-level second"><a href="/about.html">About Us</a>
	</li>
	<li class="top-level third item-with-ul"><a href="" class="link-with-ul">Portfolio</a>
		<ul class="sub-menu">
			<li><a href="/portfolio/">View All</a></li>
			<li><a href="/tags/web/">Web</a></li>
			<li><a href="/tags/print/">Print</a></li>
			<li><a href="/tags/signs/">Signs</a></li>
		</ul>
	</li>
	<li class="top-level fourth item-with-ul"><a href="" class="link-with-ul">Writing</a>
		<ul class="sub-menu">
			<li><a href="/blog">Tutorials</a></li>
			<li><a href="/blog">Marketing</a></li>
			<li><a href="/blog">Random</a></li>
		</ul>
	</li>

	<li class="top-level last"><a href="/contact.html">Contact</a>
	</li>			
</ul>
	</nav>