/* CSS SASS */

@import "box-sizing";

/* Variables */

$color-1-base: rgb(144, 43, 0); /* Red */

$color-1: lighten($color-1-base, 0%);

$color-2-base: rgb(43, 43, 43); /* Black */

$color-2: lighten($color-2-base, 0%);

$color-3-base: rgb(205, 201, 201); /* Gray */

$color-3: lighten($color-3-base, 20%);

$color-4-base: rgb(60, 167, 217); /* Blue */

$color-4: lighten($color-4-base, 1%);

$color-5-base: rgb(57, 57, 57);

$color-5: darken($color-5-base, 0%); /* Drk Gray */

$main-width: 90%;

/* Columns */

@mixin col-width ($col-number){
	float: left;
	width: (100% / $col-number); 
}

/* Breakpoints */

@mixin breakpoint($point) {
  @if $point == full-screen {
    @media (max-width: 1600px) { @content; }
  }
  @if $point == half-screen {
    @media (max-width: 1250px) { @content; }
  }
  @if $point == quarter-screen {
	@media (max-width: 650px) { @content; }
  }
  @else if $point == mobile {
    @media (max-width: 480px)  { @content; }
  }
}

/* CSS3 Shadows */

@mixin shadow() {
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}

/* Clearfix */

@mixin clear() {
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

/* Fonts */

@font-face {  
	  font-family: "URoman";  
	  src: local("UnivrstyRoman-Bd-BT-Bold"), url( /images/fonts/UnivrstyRoman-Bd-BT-Bold.ttf ) format("truetype");
	}

@mixin font-1 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: $color-1;
}

@mixin font-2 {
	font-family: 'Vollkorn', Georgia, Times, serif;
    color: $color-4;
}

@mixin font-3 {
	font-family: 'URoman' , verdana, helvetica, sans-serif; 	
}

p {
	@include font-2;
	color: $color-5;
}

a {
	color: $color-1;
	text-decoration: none;
	:hover {color: $color-1;}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	li {}
}

h1 {
	@include font-1;
}

h2 {
	font-size: 4em;
	@include font-3;
}

h3 {
	@include font-1;
	color: $color-5;
}

h4 {
	@include font-1;
	font-size: 2.5em;
}

/* The Basics */

body {
	background: #ccc;
}

/* Structure */
.header h2, .header .nav ul, .wrapper {
	margin: 0 auto;
} 


.header {
	background: url('/images/wood-bg.jpg');
	display: block;
	position: relative;
	text-align: center;
	h2 {
		padding: .5em .2em;
		a {color: #fff; text-decoration: none;}
	}	
}

.nav { 
	background: $color-5;
	border-bottom: 4px solid $color-1;
	border-top: 4px solid #fff;
	bottom: 0;
	position: relative;
	text-align: center;
	width: 100%;
	ul {@include clear;
		li {
			@include col-width(5);
			line-height: 2.5em; 
				a {color: #fff;font-size: 1.4em;}	
			}
		}
}

.wrapper {
	width: $main-width;
}

/* Columns */

.columns {

	ul {
		
		@include clear;
		li {
			padding: 0 15px;
		}
		ul li:last-of-type {
		
		}
	}
}

.one-col ul li {
	@include col-width(1);
}

.two-col ul li {
	@include col-width(2);
}

.three-col ul li {
	@include col-width(3);
	background: #fff;
}

.four-col ul li {
	@include col-width(4);
}

.points {
	ul {
		background: #fff;
		li {
			text-align: center;
			img {
				width: 100%;
			}
			h4 {
				color: $color-5;
				border-bottom: 4px solid #666;
			}
		}
	}
}

.posts {
 		
		ul {
			margin: 15px 0 0 0;
			li {
				@include shadow;
			}
	}
}

/* Media Queries */

.columns {
	ul {
		li {
			@include breakpoint(full-screen) {max-width: 600px;}
			@include breakpoint(half-screen) {}
			@include breakpoint(quarter-screen) {width: 100%;}
			@include breakpoint(mobile) {width: 90%;}
		}
	}
}

.nav ul  { 
		li a {@include breakpoint(quarter-screen) {font-size: 1.5em; line-height: 2em}
		}
}
