/* CSS SASS */

/* Box Sizing Border Box Fix - Thanks Chris Coyier*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Variables */

$color-1-base: rgb(209, 62, 44); /* Red */

$color-1: lighten($color-1-base, 0%);

$color-2-base: rgb(43, 43, 43); /* Black */

$color-2: lighten($color-2-base, 0%);

$color-3-base: rgb(205, 201, 201); /* Gray */

$color-3: lighten($color-3-base, 20%);

$color-4-base: rgb(60, 167, 217); /* Blue */

$color-4: lighten($color-4-base, 1%);

$color-5-base: rgb(57, 57, 57);
$color-5: darken($color-5-base, 0%); /* Drk Gray */

$main-width: 90%;

@mixin col-width ($col-number){
	float: left;
	width: (100% / $col-number); 
}

/* Fonts */

body {
	font-size: 16px;
}

@mixin font-1 {
	font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
    color: $color-1;
}

@mixin font-2 {
	font-family: 'Vollkorn', Georgia, Times, serif;
    color: $color-4;
}

h1 {
	@include font-1;
}

h2 {
	@include font-1;
}

h3 {

}

h4 {

}

p {
	@include font-2;
	color: $color-5;
}

a {
	color: $color-1;
	text-decoration: none;
	:hover {
		color: $color-1;
	}
	
}

ul {
	list-style: none;
	li {
	
	}
}

/* The Basics */

body {
	background: $color-3;
}

/* Structure */
.header h2, .header .nav ul, .wrapper {
	margin: 0 auto;
} 


.header {
	background: url('/images/wood-bg.jpg');
	height: 200px;
	position: relative;
	h2 {
		padding: 20px 0 0 0; 
		width: $main-width;
		a {
			color: #fff;
			text-decoration: none;
		}
	}	
	.nav { 
		background: $color-4;
		bottom: 0;
		position: absolute;
		text-align: center;
		width: 100%;
		ul {
				
			li {
				@include col-width(4);
				line-height: 200%;
					a {
						color: #fff;
					}	
				}
			}
	}
}

.wrapper {
	width: $main-width;
}


/* I need to improve this massivly */
ul.columns li {
	@include col-width (3);
	padding: 10px;
}

