---
layout: default
---
<div class="columns text">
<div class="content-col">
				{{ paginator | pager_links }}
					{% for post in paginator.posts %}
<div class="clear"></div>
<div class="cat_posts">
<div class="teaser">
					
	<h4 class="title"><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h4>
	<div class="meta"><span class="timeago">{{ post.date | time_ago }}</span>{{ post.tags | tag_links }}</div>

</div>            
						
	{% if (post.thumb) %}
	<a href="{{ BASE_PATH }}{{ post.url }}" class="img-shadow"><img src="{{ post.thumb }}" alt="{{ post.title }}"/></a>
	{% else %}
	<a href="{{ BASE_PATH }}{{ post.url }}" class="img-shadow"><img src="/images/default-post-image.gif" alt="{{ post.title }}"/></a>
	{% endif %}
                
	<div class="description">{{ post.content | strip_html | truncatewords: 45 }}</div>
    <div class="read-more"><a href="{{ post.url }}" title="{{ post.title }}">Get the whole story... »</a></div>
</div>
					{% endfor %}
					
					{{ paginator | pager_links }}
									
</div>
<div class="sidebar-col">
	{% include sidebar.html %}
</div>
</div>